.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  padding: 10px;
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 3px solid rgba(81, 104, 84, 0.9);
  background-color: aliceblue;
  span {
    text-transform: uppercase;
    font-size: 22px;
  }
}

.controlButtons {
  width: 100%;
  button {
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(14, 65, 37);
    background-color: rgb(124, 173, 144);
  }
  .sortButton {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(44, 71, 57);
    color: rgb(221, 241, 217);
    border: 2px solid black;
    font-size: 24px;
    height: 40px;
    width: 100px;
    display: block;
    position: relative;
    margin: auto;
    &:disabled {
      cursor: default;
      border: none;
      background-color: grey;
    }
  }
}

.changeView {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px;
  label {
    padding-left: 40px;
  }
  select {
    margin: 0 5px;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
  }
}
